<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <script src="{% static '/script.js' %}" defer></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Manager</title>
    <link href="https://cdn.tailwindcss.com" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/013df7f68b.js" crossorigin="anonymous"></script>
</head>
<body class="{{ theme }}-theme"> <!-- Dynamic theme class added here  -->
    <div class="base-container">
        <div class="home-link">
            <a href="{% url 'manager:index' %}">Password Manager</a>
        </div>
        <div class="nav-links">
            <ul>
                <li><a href="{% url 'manager:entries' %}">View all passwords</a></li>
                <li><a href="{% url 'manager:store' %}">Add password</a></li>
                <li><a href="{% url 'manager:search_entries' %}">Search password</a></li>
                {% if user.is_authenticated %}
                <li class="logout"><a href="{% url 'users:logout' %}">logout</a></li>
                {% else %}
                <li><a href="{% url 'users:login' %}">login</a></li>
                {% endif %}
                <li><a href="#">Toggle</a></li>
            </ul>
        </div>
    </div>
    {% block content %}{% endblock content %}
    <script>
        const btn = document.getElementById('theme-toggle');
        
        btn?.addEventListener('click', function() {
            // Toggle a class on the whole document
            document.documentElement.classList.toggle('dark-theme');
            // Save the user's preference (you'll need to implement this part)
        });
    </script>
</body>
</html>
