<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Password Manager</title>
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>

    <p>
        <a href="{% url 'manager:index' %}">Password Manager</a> - 
        <a href="{% url 'manager:entries' %}">View all passwords</a> -
        <a href="{% url 'manager:store' %}">Create password</a> -
        <a href="{% url 'manager:search_entries' %}">Search password</a>
    </p>
    {% block content %}
    <body></body>
    {%endblock content %}
</html>
