{% extends "manager/base.html" %}

{% block content %}

    <div class="edit">
        <div class="edit-container">
            <form action="{% url 'manager:edit' entry_fields.id %}" method="post">
                <h3>Edit Password</h3>
                {% csrf_token %}
                <div class="edit-link">
                    <h6>Website URL</h6>
                    <a href="{{entry_fields.website_url}}" target="blank">{{ entry_fields.website_url }}</a>
                </div>
                <div>
                    <h6>Username</h6>
                    <input type="text" name="username" value="{{ entry_fields.username }}" maxlength="100" required="" id="id_username">
                </div>
                <div class="pass-div">
                    <h6>Password</h6>
                    <input type="text" name="password" value="{{ entry_fields.password }}" maxlength="500" required="" id="id_password">
                </div>
                <button name="submit">Save password</button>
            </form>
        </div>
    </div>
{% endblock content %}
