{% extends "manager/base.html" %}

{% block content %}
{% if form.errors %}
    <p>Invalid data</p>
{% endif %}
<div class="edit">
    <div class="edit-container">
        <form action="{% url 'manager:edit' entry_fields.id %}" method="post">
            <h3>Edit Password</h3>
            {% csrf_token %}
            <div class="edit-link">
                <h6>Website URL</h6>
                <input type="url" name="website_url" value="{{ entry_fields.website_url }}" maxlength="200" required="" aria-invalid="true" id="id_website_url">
                <span class="copy material-symbols-outlined">content_copy</span>

            </div>
            <div>
                <h6>Username</h6>
                <input type="text" name="username" value="{{ entry_fields.username }}" maxlength="100" required="" id="id_username">
                <span class="copy material-symbols-outlined">content_copy</span>

            </div>
            <div class="pass-div">
                <h6>Password</h6>
                <input type="text" name="password" value="{{ entry_fields.password }}" maxlength="500" required="" id="id_password">
                <span class="copy material-symbols-outlined">content_copy</span>
                
            </div>
            <div class="edit-controls">
                <button id="generatePasswordBtn" type="button">Generate Strong Password</button>
                <button name="submit" type="submit">Save changes</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}
