<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Password Manager</title>
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
        <link rel="icon" type="image/x-icon" href="{% static '/images/key.svg' %}"/>
        
    </head>
    <body class="home-page"> <!-- Added class here -->
     {% block content %}


    <div class="content">
        <div class="home">
            <h1>A secure way to store and manage your passwords.</h1>
            <h4>Add, save, edit or delete passwords at your convenience.</h4>
            <p>Ready to manage your passwords? <button><a href="{% url 'users:register' %}">Get started here</a></button>
            <p>Already have an account? <button><a href="{% url 'users:login' %}">sign in</a></button></p>
        </div>
    </div>
    {% endblock content %}
</body>
</html>
