{% extends "manager/base.html" %}

{% block content %}
<div class="store-container">
    <div class="form-container">
        <form class="store" action="/manager/store_entry/" method="post">
            {% csrf_token %}
            <h3>Add Password</h3>
            <div>
                <h6>Website URL:</h6>
                <input type="url" name="website_url" maxlength="200" required="" id="id_website_url">
            </div>
            <div>
                <h6>Username:</h6>
                <input type="text" name="username" maxlength="100" required="" id="id_username">
            </div>
            <div>
                <h6>Password:</h6>
                <input type="text" name="password" maxlength="500" required="" id="id_password">
            </div>
            <button name="submit">Add </button>
        </form>
    </div>
</div>
{% endblock content %}


