{% load static %} <!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <script src="{% static 'script.js' %}" defer></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Manager</title>
    <link href="https://cdn.tailwindcss.com" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/013df7f68b.js" crossorigin="anonymous"></script>
    <link rel="icon" type="image/x-icon" href="{% static '/images/key.svg' %}"/>

</head>
  <body class="{% block body_class %}dark-theme{%endblock%}">
    <div class="base-container">
          <div class="home-link">
            <a href="{% url 'public:home' %}">Password Manager</a>
        </div>            <div class="nav-links">

            <ul>
                <li><a href="{% url 'public:home' %}">Home</a></li>
                <li><a href="{% url 'public:services' %}">Services</a></li>
                <li><a href="{% url 'public:contact' %}">Contact</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'manager:entries' %}">View all passwords</a></li>

                <li class="logout"><a href="{% url 'users:logout' %}">logout</a></li>
                {% else %}
                <li><a href="{% url 'users:login' %}">login</a></li>
                {% endif %}
            </ul>
          </div>
      
</header>
</div>
{% block content %}{% endblock content %}
</body>
</html>
