<!DOCTYPE html>
<html lang="en">
  <head>
      {% load static %}
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Password Manager</title>
      <link rel="stylesheet" href="{% static 'style.css' %}">
      <script>
        function togglePasswordVisibility() {
            var passwordInput = document.getElementById("id_password");
            if (passwordInput.type === "password") {
                passwordInput.type = "text";
            } else {
                passwordInput.type = "password";
            }
        }
        </script>
  </head>

  <body>
    <div class="log">
        <div class="login-container">
            <h2>Login to your account</h2>
            <form class="login-form" action="/users/login/" method="post">
                {% csrf_token %}
                <p>
                    <label for="id_username">Username:</label>
                    <input type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" required="" id="id_username">
                </p>
                <p class="p2">
                    <label for="id_password">Password:</label>
                    <input type="password" name="password" autocomplete="current-password" required="" id="id_password" style="margin-right: 5px;">
                </p>
                <button id="log-btn" type="submit" name="submit">Login</button>
                <input type="hidden" name="next" value="/manager/entries/">
            </form>
        </div>
    </div>
  </body>
</html>

