@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    /* Dark theme variables (default) */
    --background-color: #000;
    --text-color: #fff;
    --accent-color: #ff0000;
    --nav-background-color: #009000;
    --secondary-background-color: #343541;
    --entry-background-color: #343434;
    --border-color: #fff;
}

.light-theme {
    /* Light theme variables */
    --background-color: #fff;
    --text-color: #000;
    --accent-color: #007bff; /* A different accent color for the light theme, if desired */
    --nav-background-color: #00c000;
    --secondary-background-color: #f0f0f0;
    --entry-background-color: #ffffff;
    --border-color: #000;
}

/* Base html styles  */
.base-container{
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
}

.base-container .home-link{
    margin-left: 20px;
    padding: 0 10px;
}

.nav-links ul{
    margin-right: 25px;
    display: flex;
    gap: 20px;
    list-style: none;
}

.nav-links ul .logout{
    background: #009000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: var(--background-color);
    color: var(--text-color);
}

/* Update all instances where specific colors are set to use the CSS variables instead */
.nav-links ul .logout {
    background: var(--nav-background-color);
    padding: 0 7px;
    border-radius: 4px;
    font-size: 0.93rem;
}

.base-container a, .index p button a, .entries-header a, .entry-container a, .edit-container form a, .search-content ul li a {
    color: var(--text-color);
    /* Add other properties as needed */
}

/* Continue updating CSS styles to use the defined variables where appropriate */

/* Example for background and border colors */
.reg-container, .login-container, .entry-container, .edit-container, .store-container .form-container, .search-form .search-controls {
    background: var(--secondary-background-color);
    border-color: var(--border-color);
    /* Add other properties as needed */
}

/* Entries styling example */
.entries, .entries ul li {
    background: var(--entry-background-color);
    border-color: var(--border-color);
    /* Add other properties as needed */
}

#toggleVisibility, .copy {
    cursor: pointer
}
